* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
}
.code-wrapper {
  height: 50vh;
  flex: 1;
  padding: 10px;
  border: 1px solid pink;
}
.preview-wrapper {
  background-color: yellow;
  height: 50vh;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid pink;
}
#code {
  height: 100%;
  overflow: hidden;
}